@use 'base';

.navbar-top {
  padding: 1.5em;
 
  width: 100%;
 
  background-color: #4056A1;
  color: #FFFFFF;

  top: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  position: fixed;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: base.$bungee-font;
}

.navbar-side {
  display: flex;
  flex-direction: row;
  justify-content: end;
  
}

.navbar-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
