@use 'base';

.new-tweet {
  width: 100%;
  display: none;

  h2 {
    padding: 0 0 3px 0;
  }

  label {
    font-weight: bold;
  }

  button {
    font-family: base.$bungee-font;
    background-color: #4056A1;
    color: white;
    font-size: 0.7em;
    border: none;
    padding: 0.5em;
  }

  button:hover {
    cursor: pointer;
    background-color: #1839a3;
  }

  button:active {
    background-color: #1839a3;
  }

  textarea {
    width: 100%;
  
    margin-bottom: 5px;
    padding-top: 15px;
  
    outline: 0;
    border-width: 0 0 4px;
    border-color: base.$border-color;
    resize: none;
  
    font-weight: bold;
    font-size: 18px;
  
    background-color: base.$primary-color;
  }
}

.counter {
  font-family: base.$bungee-font;
  font-style: bold;
  float: right;
  font-size: 20px;
}

.red {
  color: red;
}