@use 'base';

#tweets-container {
  width: 100%;
}

.tweet {
  margin-top: 1em;
  padding: 1em;
  border: 4px;
  border-style: solid;
  border-color: base.$border-color;
  width: 100%;
}

.tweet:hover {
  box-shadow: 5px 5px rgb(206, 198, 198);
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweet-header-username {
  color: rgb(156, 158, 158);
  font-weight: bold;
}

.tweet-header a {
  padding-left: 15px;
}

.tweet-text {
  border: solid;
  border-width: 0 0 3px;
  border-color: base.$border-color;
  padding-bottom: 5px;
  word-wrap: break-word;
}

.tweet-icons i:hover {
  color: darkgoldenrod;
  cursor: pointer;
}

.tweet-footer {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}