.navbar-top {
  padding: 1.5em;
  height: 120px;
  width: 100%;
 
  background-color: #4056A1;
  color: #FFFFFF;

  top: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  position: fixed;
}

.navbar-logo {
  font-family: 'Bungee', sans-serif;
}

.navbar-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
