
.new-tweet {
  width: 100%;
}

.new-tweet h2 {
  padding: 0 0 3px 0;
}

.new-tweet button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: white;
  font-size: 0.7em;
  border: none;
  padding: 0.5em;
}

.new-tweet button:hover {
  cursor: pointer;
  background-color: #1839a3;
}

.new-tweet button:active {
  background-color: #1839a3;
}

.new-tweet textarea {
  width: 100%;

  margin-bottom: 5px;

  outline: 0;
  border-width: 0 0 4px;
  border-color: rgb(78, 76, 76);
  resize: none;

  background-color: inherit;
}

.counter {
  font-family: 'Bungee', sans-serif;
  font-style: bold;
  float: right;
  font-size: 20px;
}
